# Ignore all cloned microservice repositories
/gridx-infra/
/iot-simulation/
/frontend-web/
/matching-engine/
/frontend-mobile/
/protobuf/
/go-sdk/
/typescript-sdk/
/cpp-sdk/

# Ignore local environment overrides
.env
.vscode
.idea/
.env.local
.DS_Store